{% extends 'header.html' %}
{% block content %}
    {% load static %}
    <!-- Side Navbar -->
    <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.username }}</h1>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="/building/index"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#businessdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>企业管理 </a>
                    <ul id="businessdropdownDropdown" class="collapse list-unstyled show">
                        <li class="active"><a href="/building/business/manager/">企业信息</a></li>
                        <li><a href="/building/business/count/">企业统计</a></li>
                        <li><a href="/building/business/assess/">企业评价</a></li>
                    </ul>
                </li>
                <li><a href="#projectdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>项目管理 </a>
                    <ul id="projectdropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/project/manager/">项目信息</a></li>
                        <li><a href="/building/project/count/">项目统计</a></li>
                    </ul>
                </li>
                <li><a href="#salarydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>劳务管理 </a>
                    <ul id="salarydropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/staff/check/">劳务考勤</a></li>
                        <li><a href="#">工资统计</a></li>
                        <li><a href="/building/salary/check/">工资核对</a></li>
                    </ul>
                </li>
          </ul><span class="heading">附加功能</span>
          <ul class="list-unstyled">
            <li> <a href="/building/settings/"> <i class="icon-flask"></i>账户设置 </a></li>
              <li> <a href="/building/daily/"> <i class="icon-screen"></i>日志 </a></li>
          </ul>
        </nav>
    <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">企业信息：{{ business.business_name }}</h2>
            </div>
        </header>
        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/building/index/">首页</a></li>
                <li class="breadcrumb-item active">企业信息            </li>
            </ul>
        </div>
        <section class="forms">
            <div class="container-fluid">
                <div class="row">
                    <!-- Form Elements -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                    <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                </div>
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">企业信息</h3>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">企业名称</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.business_name }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">企业编号</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.business_id }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">企业信用评价</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.assess }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">法人代表</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.corporate_representative }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">工资保障金余额</label>
                                        <div class="col-sm-4 input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.ensure_salary }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">营业执照号</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.business_num }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">资质类别</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.Qualification_class }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">资质证号</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.Qualification_num }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">安全生产许可证号</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.safety_production_num }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">批准日期</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.approval_date }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">办公地址</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.OA }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">注册地址</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.RA }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">电子邮箱</label>
                                        <div class="col-sm-4 input-group">
                                            <div class="input-group-prepend"><span class="input-group-text">@</span></div>
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ business.business_email }}" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                  <div class="bar-chart-example card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard6" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">项目统计</h3>
                    </div>
                    <div class="card-body">
                      <canvas id="barChartExample"></canvas>
                    </div>
                  </div>
                </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9">
                        <a class="btn btn-danger" href="/building/business/manager/">返回上一步</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static '/js/charts-custom.js' %}"></script>
    <script>
        window.onload=function () {

            'use strict';


            // ------------------------------------------------------- //
            // Charts Gradients
            // ------------------------------------------------------ //
            var ctx1 = $("canvas").get(0).getContext("2d");
            var gradient1 = ctx1.createLinearGradient(150, 0, 150, 300);
            gradient1.addColorStop(0, 'rgba(133, 180, 242, 0.91)');
            gradient1.addColorStop(1, 'rgba(255, 119, 119, 0.94)');

            var gradient2 = ctx1.createLinearGradient(146.000, 0.000, 154.000, 300.000);
            gradient2.addColorStop(0, 'rgba(104, 179, 112, 0.85)');
            gradient2.addColorStop(1, 'rgba(76, 162, 205, 0.85)');
            // Bar Chart
            // ------------------------------------------------------ //
            var BARCHARTEXMPLE    = $('#barChartExample');
            var barChartExample = new Chart(BARCHARTEXMPLE, {
                type: 'bar',
                options: {
                    scales: {
                        xAxes: [{
                            display: true,
                            gridLines: {
                                color: '#eee'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            gridLines: {
                                color: '#eee'
                            }
                        }]
                    },
                },
                data: {
                    labels: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                    datasets: [
                        {
                            label: "在建项目",
                            backgroundColor: [
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1
                            ],
                            hoverBackgroundColor: [
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1
                            ],
                            borderColor: [
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1,
                                gradient1
                            ],
                            borderWidth: 1,
                            data: [65, 59, 80, 81, 56, 55, 40,25,60,30,45],
                        },
                        {
                            label: "竣工项目",
                            backgroundColor: [
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2
                            ],
                            hoverBackgroundColor: [
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2
                            ],
                            borderColor: [
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2,
                                gradient2
                            ],
                            borderWidth: 1,
                            data: [35, 40, 60, 47, 88, 27, 30,20,40,60,35],
                        }
                    ]
                }
            });}



    // ------------------------------------------------------- //
    </script>
{% endblock %}
