 {% extends 'header.html' %}
{% block content %}
     {% load static %}
<!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.username }}</h1>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="/building/index"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#businessdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>企业管理 </a>
                    <ul id="businessdropdownDropdown" class="collapse list-unstyled show">
                        <li><a href="/building/business/manager/">企业信息</a></li>
                        <li class="active"><a href="/building/business/count/">企业统计</a></li>
                        <li><a href="/building/business/assess/">企业评价</a></li>
                    </ul>
                </li>
                <li><a href="#projectdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>项目管理 </a>
                    <ul id="projectdropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/project/manager/">项目信息</a></li>
                        <li><a href="/building/project/count/">项目统计</a></li>
                    </ul>
                </li>
                <li><a href="#salarydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>劳务管理 </a>
                    <ul id="salarydropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/staff/check/">劳务考勤</a></li>
                        <li><a href="/building/salary/count/">工资统计</a></li>
                        <li><a href="/building/salary/check/">工资核对</a></li>
                    </ul>
                </li>
          </ul><span class="heading">附加功能</span>
          <ul class="list-unstyled">
            <li> <a href="/building/settings/"> <i class="icon-flask"></i>账户设置 </a></li>
              <li> <a href="/building/daily/"> <i class="icon-screen"></i>日志 </a></li>
          </ul>s
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">企业管理</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/building/index/">首页</a></li>
              <li class="breadcrumb-item active">企业统计            </li>
            </ul>
          </div>
          <section class="tables">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">企业评价等级</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChartExample"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">资质类别</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="classChartExample"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">企业营业状态</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="BusinessChartExample"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">企业近五年统计</h3>
                            </div>
                            <div class="card-body">
                                <canvas id="YearChartExample"></canvas>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
          </section>

        </div>
<script src="{% static '/js/charts-custom.js' %}"></script>
    <script>
        window.onload=function () {

            'use strict';

            // ------------------------------------------------------- //
            // Pie Chart
            // ------------------------------------------------------ //
            var PIECHARTEXMPLE    = $('#pieChartExample');
            var pieChartExample = new Chart(PIECHARTEXMPLE, {
                type: 'doughnut',
                data: {
                    labels: [
                        "优",
                        "良",
                        "差"
                    ],
                    datasets: [
                        {
                            data: [{{ perfect.count }}, {{ good.count }}, {{ bad.count }}],
                            borderWidth: 0,
                            backgroundColor: [
                                '#f47920',
                                "#8f4b2e",
                                "#deab8a"
                            ],
                            hoverBackgroundColor: [
                                '#f47920',
                                "#8f4b2e",
                                "#deab8a",
                            ]
                        }]
                }
            });

            var pieChartExample = {
                responsive: true
            };
        // ------------------------------------------------------- //
            // Pie Chart
            // ------------------------------------------------------ //
            var CLASSCHARTEXAMPLE    = $('#classChartExample');
            var classChartExample = new Chart(CLASSCHARTEXAMPLE, {
                type: 'pie',
                data: {
                    labels: [
                        "总承包企业",
                        "建设单位",
                    ],
                    datasets: [
                        {
                            data: [{{ chengbao.count }}, {{ unit.count }}],
                            borderWidth: 0,
                            backgroundColor: [
                                '#f15a22',
                                "#ffc20e",
                            ],
                            hoverBackgroundColor: [
                               '#f15a22',
                                "#ffc20e",
                            ]
                        }]
                }
            });

            var classChartExample = {
                responsive: true
            };
            // ------------------------------------------------------- //
            // Pie Chart
            // ------------------------------------------------------ //
            var BUSINESSCHARTEXAMPLE    = $('#BusinessChartExample');
            var BusinessChartExample = new Chart(BUSINESSCHARTEXAMPLE, {
                type: 'doughnut',
                data: {
                    labels: [
                        "营业中",
                        "已吊销",
                    ],
                    datasets: [
                        {
                            data: [{{ business.count }}, {{ deactive.count }}],
                            borderWidth: 0,
                            backgroundColor: [
                                '#2585a6',
                                "#2468a2",
                            ],
                            hoverBackgroundColor: [
                               '#2585a6',
                                "#2468a2",
                            ]
                        }]
                }
            });

            var classChartExample = {
                responsive: true
            };
            // ------------------------------------------------------- //
        // // Bar Chart
        // // ------------------------------------------------------ //
        var YEARCHARTEXMPLE    = $('#YearChartExample');
        var YearChartExample = new Chart(YEARCHARTEXMPLE, {
            type: 'bar',
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: '#eee'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            color: '#eee'
                        }
                    }]
                },
            },
            data: {
                labels: ["2019年", "2018年", "2017年","2016年","2015年"],
                datasets: [
                    {
                        label: "项目数",
                        backgroundColor: [
                            '#2570a1',
                            '#596032',
                            '#8e3e1f',
                            '#281f1d',
                            '#afdfe4'
                        ],
                        hoverBackgroundColor: [
                           '#2570a1',
                            '#596032',
                            '#8e3e1f',
                            '#281f1d',
                            '#afdfe4'
                        ],
                        borderColor: [
                           '#2570a1',
                            '#596032',
                            '#8e3e1f',
                            '#281f1d',
                            '#afdfe4'
                        ],
                        borderWidth: 1,
                        data: [{{ nine_time.count }}, {{ eight_time.count }}, {{ seven_time.count }},{{ six_time.count }},{{ five_time.count }}],
                    }
                ]
            }
        });
        }</script>
 {% endblock %}
