 {% extends 'header.html' %}
{% block content %}
     {% load static %}
<!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.username }}</h1>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="/building/index"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#businessdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>企业管理 </a>
                    <ul id="businessdropdownDropdown" class="collapse list-unstyled">
                        <li><a href="/building/business/manager/">企业信息</a></li>
                        <li><a href="/building/business/count/">企业统计</a></li>
                        <li><a href="/building/business/assess/">企业评价</a></li>
                    </ul>
                </li>
                <li><a href="#projectdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>项目管理 </a>
                    <ul id="projectdropdownDropdown" class="collapse list-unstyled show">
                        <li class="active"><a href="/building/project/manager/">项目信息</a></li>
                        <li><a href="/building/project/count/">项目统计</a></li>
                    </ul>
                </li>
                <li><a href="#salarydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>劳务管理 </a>
                    <ul id="salarydropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/staff/check/">劳务考勤</a></li>
                        <li><a href="/building/salary/count/">工资统计</a></li>
                        <li><a href="/building/salary/check/">工资核对</a></li>
                    </ul>
                </li>
          </ul><span class="heading">附加功能</span>
          <ul class="list-unstyled">
            <li> <a href="/building/settings/"> <i class="icon-flask"></i>账户设置 </a></li>
              <li> <a href="/building/daily/"> <i class="icon-screen"></i>日志 </a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">项目管理</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/building/index/">首页</a></li>
              <li class="breadcrumb-item active">项目信息            </li>
            </ul>
          </div>
          <section class="tables">
            <div class="container-fluid">
                <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">搜索 </button>
                <button type="button"  class="btn btn-info" onclick="print()">打印 </button>
                <button type="button"  class="btn btn-danger" onclick="load()">下载 </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="float: right"><input id="search_name" type="text"  style="background-color: transparent;border-top: 0;border-left: 0;border-right: 0;border-bottom-width:1px;border-bottom-color:gray;">&nbsp;&nbsp;<button onclick="search_filter()" style="border: 0px;background-color: transparent"><i class="icon-search"></i></button>
            </span><br><br>
                <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">搜索项目</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>项目名称</label>
                                        <input type="text" placeholder="项目名称" class="form-control" id="project_name">
                                    </div>
                                    <div class="form-group">
                                        <label>项目编号</label>
                                        <input type="text" placeholder="项目编号" class="form-control" id="project_id">
                                    </div>
                                    <div class="form-group">
                                        <label>工程进度</label>
                                        <select id="plan" class="form-control col-md-6" >
                                            <option selected></option>
                                            <option>审批未开工</option>
                                            <option>在建</option>
                                            <option>停工</option>
                                            <option>竣工</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>所属区域</label>
                                        <select id="region" class="form-control col-md-6" >
                                            <option selected></option>
                                            <option>二七区</option>
                                            <option>中原区</option>
                                            <option>金水区</option>
                                            <option>新郑市</option>
                                            <option>惠济区</option>
                                            <option>管城回族区</option>
                                            <option>上街区</option>
                                            <option>登封市</option>
                                            <option>新密市</option>
                                            <option>巩义市</option>
                                            <option>中牟县</option>
                                            <option>高新区</option>
                                            <option>荥阳市</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>建筑单位</label>
                                        <input type="text" placeholder="建筑单位" class="form-control" id="project_unit">
                                    </div>
                                    <div class="form-group">
                                        <label>建筑企业</label>
                                        <input type="text" placeholder="建筑企业" class="form-control" id="project_company">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">关闭</button>
                                <button type="button" class="btn btn-primary" onclick="search_project()">搜索</button>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">项目信息</h3>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped" id="project">
                          <thead>
                            <tr>
                                <th>工程编号</th>
                                <th>工程名称</th>
                                <th>工程负责人</th>
                                <th>建筑单位</th>
                                <th>建筑企业</th>
                                <th>工程进度</th>
                                <th>所属区域</th>
                                <th>工程地点</th>
                            </tr>
                          </thead>
                            {% for i in page %}
                                <tbody>
                                <tr>
                                    <td>{{ i.pro_id }}</td>
                                    <td class="text-nowrap" ><a href="/building/project/information/{{ i.pro_id }}/">{{ i.project_name }}</a></td>
                                    <td>{{ i.project_manager }}</td>
                                    <td>{{ i.project_unit.business_name }}</td>
                                    <td>{{ i.project_company.business_name }}</td>
                                    <td>{{ i.project_plan }}</td>
                                    <td>{{ i.project_region }}</td>
                                    <td>{{ i.project_address }}</td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                      <!--分页导航栏-->
                          <div align="center">
                              共<span id="totalNumber" style="color: dodgerblue">{{ pag.count }}</span>条   
                              当前第<span id="currentPage" style="color: black">{{ page.number }}</span>/<span id="totalPage" style="color: black">{{ pag.num_pages }}</span>页
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <button id="Previous" class="btn btn-default" onclick="pre_page()">上一页</button>
                              <button id="Next" class="btn btn-default" onclick="next_page()">下一页</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              跳至&nbsp;<input id="pageNumber" type="number" min="1" max="100" style="width: 78px; text-align: center">&nbsp;页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              <button id="goPage" type="button" class="btn btn-primary" onclick="skip()">GO</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

        </div>
  <script>
  function search_filter() {
            $.ajax({
              url :"/building/project/manager/{{ page.number }}",
              type:"POST",
              data:{"filter":$("#search_name").val()},
              dataType : "Json",
              success:function (is_filter) {
                  if(is_filter["is_filter"]==false)
                  {
                      alert("没有找到查询的结果！");
                  }
                  else {
                      window.location.href="/building/project/filter/"
                  }
              }
          });
        }
    function search_project(){
            $.ajax({
                url :"/building/project/manager/{{ page.number }}",
                type:"POST",
				data:{"project_name":$("#project_name").val(),"project_id":$("#project_id").val(),"project_unit":$("#project_unit").val(),"project_company":$("#project_company").val(), "plan":$("#plan option:selected").val(), "region":$("#region option:selected").val()},
                dataType : "Json",
                success:function (is_filter) {
                    if(is_filter["is_filter"]==false)
                  {
                      alert("没有找到查询的结果！");
                  }
                  else {
                      window.location.href="/building/project/filter/"
                  }
                },
            });
        };
     <!-- 跳转到上一页面-->
      function pre_page() {
          if(({{ page.number }})>1)
          {
              window.location.href="/building/project/manager/{{ page.number|add:-1 }}"
          }
      }
      <!-- 跳转到下一页面-->
      function next_page() {
          if(({{ page.number}})<({{ pag.num_pages }}))
          {
              window.location.href="/building/project/manager/{{ page.number|add:1 }}"
          }
      }
     <!--跳转到指定页面-->
     function skip() {
         pageNumber = $("#pageNumber").val();
         pageNumbers = parseInt(pageNumber);
         if(pageNumbers>0)
         {
             if(pageNumbers<={{ pag.num_pages }})
             {
                 window.location.href=("/building/project/manager/"+pageNumber)
             }
             else {
                 window.location.href="/building/project/manager/"
             }
         }
         else {
             window.location.href="/building/project/manager/"
         }
      }
    <!-- 导出成excel-->
    var tableId = document.getElementById("project");
    function load() {
        methodtable2excel(tableId);
    }
    var idTmr;
    function  getExplorer() {
        var explorer = window.navigator.userAgent ;
        //ie
        if (explorer.indexOf("MSIE") >= 0) {
            return 'ie';
        }
        //firefox
        else if (explorer.indexOf("Firefox") >= 0) {
            return 'Firefox';
        }
        //Chrome
        else if(explorer.indexOf("Chrome") >= 0){
            return 'Chrome';
        }
        //Opera
        else if(explorer.indexOf("Opera") >= 0){
            return 'Opera';
        }
        //Safari
        else if(explorer.indexOf("Safari") >= 0){
            return 'Safari';
        }
    }
    function methodtable2excel(tableid) {//整个表格拷贝到EXCEL中
        if(getExplorer()=='ie')
        {
            var curTbl = document.getElementById(tableid);
            var oXL = new ActiveXObject("Excel.Application");//创建AX对象excel

            var oWB = oXL.Workbooks.Add();//获取workbook对象
            var xlsheet = oWB.Worksheets(1);//激活当前sheet
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);//把表格中的内容移到TextRange中
            sel.select();//全选TextRange中内容
            sel.execCommand("Copy");//复制TextRange中内容
            xlsheet.Paste();//粘贴到活动的EXCEL中
            oXL.Visible = true;//设置excel可见属性

            try {
                var fname = oXL.Application.GetSaveAsFilename("Excel.xls", "Excel Spreadsheets (*.xls), *.xls");
            } catch (e) {
                print("Nested catch caught " + e);
            } finally {
                oWB.SaveAs(fname);
                oWB.Close(savechanges = false);
                //xls.visible = false;
                oXL.Quit();
                oXL = null;
                //结束excel进程，退出完成
                //window.setInterval("Cleanup();",1);
                idTmr = window.setInterval("Cleanup();", 1);
            }
        }
        else
        {
            tableToExcel(tableid);
        }
    }
    function Cleanup() {
        window.clearInterval(idTmr);
        CollectGarbage();
    }
    var tableToExcel = (function() {
        var uri = 'data:application/vnd.ms-excel;base64,',
            template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta charset="UTF-8"></head><body><table>{table}</table></body></html>',
            base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) },
            format = function(s, c) {
                return s.replace(/{(\w+)}/g,
                    function(m, p) { return c[p]; }) };
        return function(table, name) {
            if (!table.nodeType) table = document.getElementById(table);
            var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML};
            window.location.href = uri + base64(format(template, ctx))
        }
    })();
</script>
{% endblock %}
