 {% extends 'header.html' %}
{% block content %}
     {% load static %}
<!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.username }}</h1>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="/building/index"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#businessdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>企业管理 </a>
                    <ul id="businessdropdownDropdown" class="collapse list-unstyled">
                        <li><a href="/building/business/manager/">企业信息</a></li>
                        <li><a href="/building/business/count/">企业统计</a></li>
                        <li><a href="/building/business/assess/">企业评价</a></li>
                    </ul>
                </li>
                <li><a href="#projectdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>项目管理 </a>
                    <ul id="projectdropdownDropdown" class="collapse list-unstyled  show">
                        <li class="active"><a href="/building/project/manager/">项目信息</a></li>
                        <li><a href="/building/project/count/">项目统计</a></li>
                    </ul>
                </li>
                <li><a href="#salarydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>劳务管理 </a>
                    <ul id="salarydropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/staff/check/">劳务考勤</a></li>
                        <li><a href="#">工资统计</a></li>
                        <li><a href="/building/salary/check/">工资核对</a></li>
                    </ul>
                </li>
          </ul><span class="heading">附加功能</span>
          <ul class="list-unstyled">
            <li> <a href="/building/settings/"> <i class="icon-flask"></i>账户设置 </a></li>
              <li> <a href="#"> <i class="icon-mail"></i>电子邮箱 </a></li>
              <li> <a href="/building/daily/"> <i class="icon-screen"></i>日志 </a></li>
              <li> <a href="#"> <i class="icon-picture"></i>Demo </a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">项目信息：{{ project.project_name }}</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/building/index/">首页</a></li>
              <li class="breadcrumb-item active">项目信息            </li>
            </ul>
          </div>
            <section class="forms">
            <div class="container-fluid">
              <div class="row">
                <!-- Form Elements -->
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">项目信息</h3>
                    </div>
                    <div class="card-body">
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">项目名称</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_name }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">项目编号</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.pro_id }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">工程地点</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_address }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">所属区域</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_region }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">建筑面积</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_area }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">项目负责人</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_manager }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">建筑单位</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_unit }}" class="form-control">
                                        </div>
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">建筑企业</label>
                                        <div class="col-sm-4">
                                            <input style="font-size:15px;text-align: center" type="text" disabled="" value="{{ project.project_company.business_name }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="line"></div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label" style="font-size:15px;line-height: 30px;text-align: center">工程进度</label>
                                        <div class="project-progress col-sm-4">
                                            {% if project.project_plan == "审批未开工" %}
                                            <div class="progress">
                                                <div role="progressbar" style="width: 25%; height: 15px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                            </div>
                                            <p>{{ project.project_plan }}</p>
                                            {% elif project.project_plan == "在建" %}
                                                <div class="progress">
                                                <div role="progressbar" style="width: 50%; height: 15px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                            </div>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ project.project_plan }}</p>
                                            {% elif project.project_plan == "停工" %}
                                                <div class="progress">
                                                <div role="progressbar" style="width: 75%; height: 15px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                            </div>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                {{ project.project_plan }}</p>
                                            {% elif project.project_plan == "竣工" %}
                                                <div class="progress">
                                                <div role="progressbar" style="width: 100%; height: 15px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                                            </div>
                                            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ project.project_plan }}</p>
                                            {% endif %}
                                        </div>

                                    </div>
                                </form>
                            </div>
                  </div>
                </div>
              </div>
                <div class="form-group row">
                    <div class="col-sm-9">
                        <a class="btn btn-danger" href="/building/project/manager/">返回上一步</a>
                    </div>
                </div>
            </div>
          </section>
        </div>
 {% endblock %}
