 {% extends 'header.html' %}
{% block content %}
     {% load static %}
 <!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{% static 'img/avatar-1.jpg' %}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">{{ user.username }}</h1>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
                <li><a href="/building/index"> <i class="icon-home"></i>首页 </a></li>
                <li><a href="#businessdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>企业管理 </a>
                    <ul id="businessdropdownDropdown" class="collapse list-unstyled">
                        <li><a href="/building/business/manager/">企业信息</a></li>
                        <li><a href="/building/business/count/">企业统计</a></li>
                        <li><a href="/building/business/assess/">企业评价</a></li>
                    </ul>
                </li>
                <li><a href="#projectdropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>项目管理 </a>
                    <ul id="projectdropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/project/manager/">项目信息</a></li>
                        <li><a href="/building/project/count/">项目统计</a></li>
                    </ul>
                </li>
                <li><a href="#salarydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>劳务管理 </a>
                    <ul id="salarydropdownDropdown" class="collapse list-unstyled ">
                        <li><a href="/building/staff/check/">劳务考勤</a></li>
                        <li><a href="/building/salary/count/">工资统计</a></li>
                        <li><a href="/building/salary/check/">工资核对</a></li>
                    </ul>
                </li>
          </ul><span class="heading">附加功能</span>
          <ul class="list-unstyled">
              <li class="active"> <a href="/building/settings/"> <i class="icon-flask"></i>账户设置 </a></li>
              <li> <a href="/building/daily/"> <i class="icon-screen"></i>日志 </a></li>
          </ul>
        </nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">账户设置</h2>
            </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/building/index/">首页</a></li>
              <li class="breadcrumb-item active">账户设置          </li>
            </ul>
          </div>
            <section class="forms">
            <div class="container-fluid">
              <div class="row">
                  <!-- Basic Form-->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">账户资料修改</h3>
                    </div>
                    <div class="card-body">
                      <p>可在此修改账户信息</p>
                      <form>
                        <div class="form-group">
                          <label class="form-control-label">电子邮箱</label>
                          <input type="email" placeholder="Email Address" class="form-control" id="alter_email">
                        </div>
                        <div class="form-group">
                          <label class="form-control-label">密码</label>
                          <input type="password" placeholder="Password" class="form-control" id="a_pwd">
                        </div>
                          <div class="form-group">
                          <label class="form-control-label">确认密码</label>
                          <input type="password" placeholder="Confirm Password" class="form-control" id="is_pwd">
                        </div>
                        <div class="form-group">
                          <input type="button" value="确认修改" class="btn btn-primary" style="float: right" onclick="settings()">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                  <!-- Horizontal Form-->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">修改密码</h3>
                    </div>
                    <div class="card-body">
                      <p>可在此修改账户密码.</p>
                      <form class="form-horizontal">
                        <div class="form-group row">
                          <label class="col-sm-3 form-control-label">旧密码</label>
                          <div class="col-sm-9">
                            <input id="inputHorizontalWarning" type="password" placeholder="Old Pasword" class="form-control form-control-warning"><small class="form-text">请输入旧密码.</small>
                          </div>
                        </div>
                          <div class="form-group row">
                          <label class="col-sm-3 form-control-label">新密码</label>
                          <div class="col-sm-9">
                            <input id="newPassword" type="password" placeholder="New Pasword" class="form-control form-control-warning"><small class="form-text">请输入设置的新密码.</small>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-9 offset-sm-3">
                            <input type="button" value="确认修改" class="btn btn-primary" onclick="alter_pwd()">
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>
        </div>
    <script>
        {#  修改账户资料 #}
        function settings(){
            if($("#a_pwd").val()==$("#is_pwd").val())
            {
                $.ajax({
                    url :"/building/settings/",
                    type:"POST",
                    data:{"alter_email":$("#alter_email").val()},
                    dataType : "Json",
                    success:function (is_alter) {
                        alert(is_alter["is_alter"])
                    },
                });
            }
            else {
                alert("两次密码不一致，请重新输入")
            }
        }
        {#    修改密码 #}
        function alter_pwd() {
            $.ajax({
                url :"/building/settings/",
                type:"POST",
                data:{"old_pwd":$("#inputHorizontalWarning").val(),"new_pwd":$("#newPassword").val()},
                dataType : "Json",
                success:function (is_alter) {
                    if(is_alter["is_alter"]==true)
                    {
                        alert("修改成功，请重新登录")
                        window.location.href="/building/logout/"
                    }
                    else {
                        alert("旧密码输入错误，请重新输入")
                    }
                },
            });
        }
    </script>
 {% endblock %}